<div class="row animated fadeIn">
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
    <div class="col-md-12">
        <div class="card card-body">
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <form #f="ngForm" ngNativeValidate (ngSubmit)="actualizarPassword()">
                        <div class="form-group">
                            <label>Username</label>
                            <input [value]="usernameUser" name="type" type="text" class="form-control" disabled placeholder="">
                        </div>
                        <div class="form-group">
                            <label>Nombre</label>
                            <input [value]="nombreCompleto" name="type" type="text" class="form-control" disabled placeholder="">
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input [(ngModel)]="password" name="type" type="password" class="form-control" placeholder="Password" required>
                        </div>
                        <div class="form-group">
                            <label>Confirmar Password</label>
                            <input [(ngModel)]="password2" name="type" type="password" class="form-control" placeholder="Password" required>
                        </div>
                        <button type="submit" class="btn btn-success waves-effect waves-light m-r-10" [disabled]="password !== password2">
                    <i class="fa fa-save"></i>
                    Guardar
                  </button>
                        <a routerLink="/usuarios" type="submit" class="btn btn-inverse waves-effect waves-light">Cancelar</a>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>