<div class="row animated fadeIn">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <input #input (keyup)="buscarTipoPregunta( input.value )" type="text" class="form-control" placeholder="Buscar Tipo de Pregunta....">
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body table-responsive">
                <div class="text-right">
                    <button [routerLink]="['/tipo/preguntas/nuevo']" type="button" class="btn waves-effect waves-light btn-rounded btn-primary">
                    <i class="fa fa-plus"></i>
                    Crear Tipo Pregunta
                  </button>
                </div>
                <h3 class="card-title"> Tipos de Pregunta Registrados ( <small>{{tipoPregunta.length}}</small> )</h3>

                <table class="table table-striped" [mfData]="tipoPregunta" #mf="mfDataTable" [mfRowsOnPage]="5">
                    <thead>
                        <tr>
                            <th>
                                <mfDefaultSorter by="type">TIPO</mfDefaultSorter>
                            </th>
                            <th>
                                <mfDefaultSorter by="name">NOMBRE</mfDefaultSorter>
                            </th>
                            <th>

                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of mf.data">
                            <td>{{item.tipo}}</td>
                            <td>{{item.nombre}}</td>
                            <td>
                                <button [routerLink]="['/tipo/preguntas/edit', item._id]" type="button" class="btn-rounded btn-primary">
                                    <i class="fa fa-edit"></i>
                                  </button>
                                <button [routerLink]="['/tipo/preguntas/delete', item._id]" type="button" class="btn-rounded btn-primary">
                                    <i class="fa fa-trash"></i>
                                    </button>
                            </td>

                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="4">
                                <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
                            </td>
                        </tr>
                    </tfoot>
                </table>

            </div>
        </div>
    </div>
</div>